<footer style="position: fixed;  
left: 10px;  
bottom: 5px;  
right: 10px;   
width: 100%;  
background-color: gray;  
color: white;  
text-align: center;  ">
    <h1>Built with Node.js</h1>
</footer>