<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <title>To-d0 Manager</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="./css/styles.css" ref="stylesheet"/>
    <style>
        .todo-item:hover .trash-icon{
        display: block;
    }
    .trash-icon{
        color: grey;
    }
    </style>

</head>
<body>
    <div class="grid grid-cols-6 pt-5">
        <div class="col-start-2 col-span-2">
            <%- include('header.ejs')%>
            <p class="py-2">Welcome to the To-Do manager</p>
            <p class="py-2">New here? <a href="/signup" class="text-green-600">Sign-up now</a></p>
            <p class="py-2">Already have an account? <a href="/login" class="text-green-600">Sign-In</a></p>

</div>

    </div>
<%- include('footer.ejs')%>

</body>

</html>