body{
    color:grey;
    background-color: white;
    font-family: 'Courier New','Courier New', Courier, monospace;
}
.header{
    text-align: center;
    background-color: green;
    font-weight: bold;
color: white;
}
.hide{
    display: none;
}
.todo-item:hover .trash-icon{
    display: block;
}
.trash-icon{
    color: grey;
}